extends layout

block content
    h1 History

    h2 Pre-Reformation
    p Located approximately six miles east of Rotherham, Maltby is a former mining town. It is within the historic West Riding of Yorkshire. The name Maltby is first attested in the Domesday Book of 1086, where it appears as Maltebi. The name means `Malti's homestead' or `Malti's village', Malti being a common Old Norse name. The Domesday Book also records a `Saxon tower', which would become St Bartholemew's Church, now Maltby's Anglican parish church.
    p #[a(href="https://en.wikipedia.org/wiki/Roche_Abbey") Roche Abbey], on the southern outskirts of Maltby, was founded in 1147 by Cistercian monks from Newminster Abbey (near Morpeth, Northumberland). On 23 June 1538, Abbot Henry Cundall and his seventeen monks gathered in their chapter house to surrender their abbey to the king's commissioners, a victim of Henry VIII's dissolution of the monasteries. But, in modern times, the Diocese of Hallam celebrates an open air mass in the abbey's ruins each Trinity Sunday to commemorate the centuries of Catholic faith and worship offered at this site.

    h2 Post-Reformation
    p A Roman Catholic mission was established in 1912, in response to the discovery of coal in the area - #[a(href="https://en.wikipedia.org/wiki/Maltby_Main_Colliery") Maltby Main Colliery] began sinking in 1907 - and the subsequent rapid growth of the town. The Rev Thomas Parkin was the first priest. A temporary timber church opened on 18 January 1914, said to be that now at Harworth.
    p It was not until 1954, however, that plans were made for a permanent Roman Catholic parish church. J H Langtry-Langton of Bradford was the architect and the foundation stone was laid on 5 August 1954. The church was built to seat four hundred, and cost approximately £16,000. It was opened and blessed by Bishop Heenan of Leeds on 13 October 1955 and consecrated on 6 May 1974.